<section>
    <div class="container bg-main-light p-5 my-5 rounded shadow-sm">
      <div class="row">
        <h1 class="text-main fs-3 fw-bolder text-center">Reset Password</h1>
        @if(resText) {
        <p class="alert alert-danger my-2 p-2 fs-6 fw-bold rounded">
          {{ resText }}
        </p>
        }
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
          <div class="my-2">
            <label for="email" class="mb-1"
              >Email: <span class="text-danger">*</span></label
            >
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="ex:johndoe@.com"
              [ngClass]="{
                'is-valid':
                  !resetPasswordForm.get('email')?.errors &&
                  (resetPasswordForm.get('email')?.touched ||
                    resetPasswordForm.get('email')?.dirty),
                'is-invalid':
                  resetPasswordForm.get('email')?.errors &&
                  (resetPasswordForm.get('email')?.touched ||
                    resetPasswordForm.get('email')?.dirty)
              }"
            />
          </div>
          @if(resetPasswordForm.get('email')?.errors &&
          resetPasswordForm.get('email')?.touched){
          <div class="alert alert-danger my-2 p-2 fs-6 fw-bold rounded">
            @if(resetPasswordForm.get('email')?.getError('required')){
            <p class="m-0">Email is required</p>
            } @else if (resetPasswordForm.get('email')?.getError('email')) {
            <p class="m-0">Email is not valid</p>
            }
          </div>
          }
  
          <div class="my-2">
            <label for="password" class="mb-1"
              >New Password: <span class="text-danger">*</span></label
            >
            <input
              type="password"
              class="form-control"
              formControlName="newPassword"
              placeholder="ex: 123456"
              [ngClass]="{
                'is-valid':
                  !resetPasswordForm.get('newPassword')?.errors &&
                  (resetPasswordForm.get('newPassword')?.touched ||
                    resetPasswordForm.get('newPassword')?.dirty),
                'is-invalid':
                  resetPasswordForm.get('newPassword')?.errors &&
                  (resetPasswordForm.get('newPassword')?.touched ||
                    resetPasswordForm.get('newPassword')?.dirty)
              }"
            />
            @if(resetPasswordForm.get('newPassword')?.errors &&
            resetPasswordForm.get('newPassword')?.touched){
            <div class="alert alert-danger my-2 p-2 fs-6 fw-bold rounded">
              @if(resetPasswordForm.get('newPassword')?.getError('required')){
              <p class="m-0">Password is required</p>
              } @else if
              (resetPasswordForm.get('newPassword')?.getError('pattern')) {
              <p class="m-0">Password must be at least 6 characters</p>
              }
            </div>
            }
          </div>
  
          <button
            [disabled]="resetPasswordForm.invalid"
            type="submit"
            class="btn-main w-25 mx-auto d-block"
          >
            Reset Password @if(loading){
            <span><i class="fa-solid fa-circle-notch fa-spin"></i></span>
            }
          </button>
        </form>
      </div>
    </div>
  </section>